<h1>Create a new Video:</h1>
<%= simple_form_for [@source, @output] do |f| %>
  <%# CAROUSEL / LIST SOURCE VIDEOS %>
  <div class="container w-30 pb-4 mb-3 text-white">
    <h2>Select your Background Video:</h2>
    <br>
    <fieldset class="form-group radio_buttons required snippet_category">
      <div class="category-wrapper">
        <input type="hidden" name="output[source_id]" value="">
        <% @sources.each_with_index do |source, index| %>
          <div class="category-item ms-4">
            <input class="form-check-input radio_buttons required category-selector" type="radio" value="<%= source.id %>" name="output[source_id]" id="card-<%= index %>">
            <label class="form-check-label collection_radio_buttons" for="card-<%= index %>"><%=render 'pages/source_card', source: source.video.key%></label>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>
  <%# GIVE CUSTOMIZATION OPTIONS TO USER, SHOW GENERATE BUTTON%>
  <div class="container text-white">
    <h2>Give your video a script, and choose how you'd like it to look & sound:</h2>
    <div class="parent d-flex mt-2">
      <div class="left d-flex flex-column w-50 p-1">
        <%= f.input :script, :input_html => { 'rows' => 10 }  %>
      </div>
      <div class="right d-flex flex-column w-50 p-1">
        <div class="range-slider">
          Font Size: <output id="rangevalue">12</output>
          <div>
            <%= f.input :font_size, label: false, as: :range, input_html:{ value: 12, min: 1, max: 50, oninput:"rangevalue.value=value",  class:"slider-input"} %>
          </div>
        </div>
        <%= f.input :font_family, collection: Output::FONTFAMILIES, include_blank: false%>
        <%= f.input :font_style, collection: Output::FONTSTYLES, include_blank: false%>
        <%# <%= f.input :voice, label:"Voice Selection", as: :radio_buttons, collection: [[1, 'Voice 1'], [2, 'Voice 2']], label_method: :second, value_method: :first %>
        <fieldset class="form-group radio_buttons required snippet_category">
          <div class="voice-wrapper">
            <input type="hidden" name="output[voice]" value="">
            <% Output::VOICES.each do |voice| %>
              <div class="voice-item">
                <input class="form-check-input radio_buttons required voice-selector" type="radio" value="<%= voice %>" name="output[voice]" id="<%= voice %>">
                <label class="form-check-label collection_radio_buttons" for="<%= voice %>">Voice <%= voice %></label>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>
    <%# GENERATE BUTTON / SEND FORM %>
    <div class="d-flex justify-content-center mb-3">
      <%= f.button :submit, "Create Video", class: "btn btn-secondary rounded-pill p-2 px-4" %>
    <% end %>
  </div>
  <%# DISPLAY OUTPUT VIDEO ? %>
