<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Create a new Video</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Create a new Video:</h1>
      <%= simple_form_for [@source, @output] do |f| %>
        <div class="container w-30 pb-4 mb-3 text-white">
          <fieldset class="form-group radio_buttons required snippet_category">
            <div class="category-wrapper">
              <input type="hidden" name="output[source_id]" value="">
              <% @sources.each_with_index do |source, index| %>
                <div class="category-item ms-4">
                  <input class="form-check-input radio_buttons required category-selector" type="radio" value="<%= source.id %>" name="output[source_id]" id="card-<%= index %>">
                  <label class="form-check-label collection_radio_buttons" for="card-<%= index %>"><%= render 'pages/source_card', source: source.video.key %></label>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
        <div class="container text-white">
          <div class="d-flex flex-column mt-2">
            <div class="settings-box mb-3">
              <%= f.input :script,
                input_html: { rows: 10,
                              class: 'text-input inside-text',
                              value: @reddit_script
                            },
                label: 'What should be the content of your video? Write your story below',
                label_html: { class: 'label-text' },
                wrapper_html: { class: 'inside-text' }
              %>
            </div>
            <div class="d-flex flex-column gap-3 settings-box">
              <div class="label-text">
                Font Size: <output id="rangevalue">12</output>
                <%= f.input :font_size, label: false, as: :range, input_html: { value: 12, min: 1, max: 50, oninput: "rangevalue.value=value", class: "slider-input" } %>
              </div>
              <%= f.input :font_family, collection: Output::FONTFAMILIES, include_blank: false, wrapper: false, input_html: { class: 'mb-3 choice-input' }, :label_html => { class: 'label-text'} %>
              <%= f.input :font_style, collection: Output::FONTSTYLES, include_blank: false, wrapper: false, input_html: { class: 'mb-3 choice-input' }, :label_html => { class: 'label-text'} %>
              <fieldset class="form-group radio_buttons required snippet_category">
                <div class="voice-wrapper">
                  <input type="hidden" name="output[voice]" value="">
                  <% Output::VOICES.each do |voice| %>
                    <div class="voice-item">
                      <input class="form-check-input radio_buttons required voice-selector" type="radio" value="<%= voice %>" name="output[voice]" id="<%= voice %>">
                      <label class="form-check-label collection_radio_buttons" for="<%= voice %>">Voice <%= voice %></label>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <%= f.button :submit, "Create Video", class: "btn btn-secondary rounded-pill p-2 px-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
