<div class="container mt-5 text-white" data-controller="reddit-form">
  <div class="row">
    <h1 class="text-center">Create a new Video</h1>
    <div class="">
      <%= form_with url: sources_reddit_path, method: :get, html: { data: { action: "change->reddit-form#fetch_backend" }, id: 'reddit' } do |f| %>
      <% end %>
    </div>
    <div class="col-6">
      <%= simple_form_for [@source, @output] do |f| %>
        <div class="form-check">
          <%= radio_button_tag(:query, 'stories', params[:query] == 'askreddit', class: "form-check-input", id: "stories", data: { action: "change->reddit-form#fetch_backend", reddit_form_target: "fsubmit" }) %>
          <%= label_tag(:stories, 'r/Stories', class: "form-check-label") %>
        </div>
        <div class="form-check">
          <%= radio_button_tag(:query, 'ShortSeriousStories	', params[:query] == 'ShortSeriousStories	', class: "form-check-input", id: "ShortSeriousStories	", data: { action: "change->reddit-form#fetch_backend",reddit_form_target: "fsubmit" }) %>
          <%= label_tag(:ShortSeriousStories	, 'r/ShortSeriousStories	', class: "form-check-label") %>
        </div>
        <div class="form-check">
          <%= radio_button_tag(:query, 'ShortScaryStories', params[:query] == 'ShortScaryStories', class: "form-check-input", id: "ShortScaryStories", data: { action: "change->reddit-form#fetch_backend", reddit_form_target: "fsubmit" }) %>
          <%= label_tag(:ShortScaryStories, 'r/ShortScaryStories', class: "form-check-label") %>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <div id="carouselExampleAutoplaying" class="carousel slide">
        <div class="carousel-inner" data-reddit-form-target="carousel">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
