<h1>Sources#show</h1>
<p>Find me in app/views/sources/show.html.erb</p>

<p>URL: <%= @source.url %></p>
<p>YT ID: <%= @source.youtube_id %></p>
<br>

<%# ENTER YT URL TO CREATE SOURCE %>
<h2>Create new Source Video:</h2>
<%= simple_form_for @source do |f| %>
  <%= f.input :url, placeholder:"Type your Youtube URL here" %>
  <%= f.submit %>
<% end %>

<%# EMBED YT SOURCE VIDEO %>
<%= youtube_video @source.youtube_id %>
<br>

<%# LIST SOURCE VIDEOS / LINKS %>


<%# GIVE CUSTOMIZATION OPTIONS TO USER, SHOW GENERATE BUTTON%>


<%# DISPLAY OUTPUT VIDEO %>
