<div class="container mt-5 text-white" data-controller="reddit-form overlay">
  <%= simple_form_for [@source, @output] do |f| %>
    <div class="row mb-3 align-items-center">
      <div class="col-6">
        <div class="settings-box">
          <div class="">
            <%= f.input :title, input_html: { rows: 1, class: 'text-input inside-text', value: params[:title], data: { reddit_form_target: "title" } }, label: 'Suggested title of your video', label_html: { class: 'label-text' }, wrapper_html: { class: 'inside-text' } %>
            <%= f.input :script, input_html: { rows: 10, class: 'text-input inside-text', value: params[:script], data: { reddit_form_target: "content" } }, label: 'What should be the content of your video? Write your story below', label_html: { class: 'label-text' }, wrapper_html: { class: 'inside-text' } %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class=" d-flex justify-content-center gap-4">
          <% @sources.each_with_index do |source, index| %>
            <div class="category-item">
              <input class="form-check-input radio_buttons required category-selector" type="radio" value="<%= source.id %>" name="output[source_id]" id="card-<%= index %>" data-action="change->reddit-form#fetch_backend">
              <label class="form-check-label collection_radio_buttons" for="card-<%= index %>"><%= render 'pages/source_card', source: source.video.key %></label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column gap-3 settings-box">
      <div class="row">
        <div class="col-6">
          <div class="label-text">
            Font Size: <output id="rangevalue">12</output>
            <%= f.input :font_size, label: false, as: :range, input_html: { value: 12, min: 1, max: 50, oninput: "rangevalue.value=value", class: "slider-input", data: {action: 'change->overlay#resizefont'} } %>
          </div>
          <%= f.input :font_family, collection: Output::FONTFAMILIES, include_blank: false, wrapper: false, input_html: { class: 'mb-3 choice-input', data: {action: 'change->overlay#fontfamily'} }, label_html: { class: 'label-text' } %>
          <%= f.input :font_style, collection: Output::FONTSTYLES, include_blank: false, wrapper: false, input_html: { class: 'mb-3 choice-input', data: {action: 'change->overlay#fontstyle'} }, label_html: { class: 'label-text' } %>
          <fieldset class="form-group radio_buttons required snippet_category">
            <div class="voice-wrapper">
              <input type="hidden" name="output[voice]" value="">
              <% Output::VOICES.each do |voice| %>
                <div class="voice-item">
                  <input class="form-check-input radio_buttons required voice-selector" type="radio" value="<%= voice %>" name="output[voice]" id="<%= voice %>" data-action="change->reddit-form#fetch_backend">
                  <label class="form-check-label collection_radio_buttons" for="<%= voice %>">Voice <%= voice %></label>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
        <div class="col-6 d-flex justify-content-center">
          <%= render 'pages/preview_card', video_source: 'https://res.cloudinary.com/dcug1pvpk/video/upload/v1716529190/lazyreel-seeds/story-video-1.mp4' %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center my-3">
      <%= f.button :submit, "Create Video", class: "btn btn-secondary rounded-pill p-2 px-4" %>
    </div>
  <% end %>
</div>
<%= render 'pages/source_card', source: Source.first.video.key %>
