<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag ("Shortify_logo.png")%>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
         <li class="nav-item">
            <%= link_to "", "/schedules", class: "button2 fa-solid fa-calendar-days" %>
          </li>
          <li class="nav-item">
            <%= link_to "Your Videos", "/outputs", class: "button2" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Create Video", "/sources", class: "button" %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: "button2 p-2", data: {turbo_method: :delete} do %>
              <i class="fa-solid fa-door-open"></i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_session_path, class: "button" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
