<div class="container">
  <div class="top-content text-center pt-5">
    <h1>Viral shorts with just <span class="accent" data-controller="typed"></span></h1>
    <h2>Generate Engaging Shorts Using Customizable Templates</h2>
  </div>
  <div class="go-to-new pt-5 text-center">
    <%= render 'pages/button', text: 'Start Creating', path: sources_path %>
  </div>
  <div class="examples d-flex justify-content-center" style="padding-top: 100px;">
    <%= render 'pages/examples_card', video_source: 'https://res.cloudinary.com/dcug1pvpk/video/upload/v1716529190/lazyreel-seeds/story-video-1.mp4' %>
    <%= render 'pages/examples_card', video_source: 'https://res.cloudinary.com/dcug1pvpk/video/upload/v1716529192/lazyreel-seeds/story-video-2.mp4' %>
    <%= render 'pages/examples_card', video_source: 'https://res.cloudinary.com/dcug1pvpk/video/upload/v1716529190/lazyreel-seeds/story-video-3.mp4' %>
    <%= render 'pages/examples_card', video_source: 'https://res.cloudinary.com/dcug1pvpk/video/upload/v1716529189/lazyreel-seeds/story-video-4.mp4' %>
  </div>
</div>
