<div class="container">
  <div class="top-content text-center pt-5">
    <h1>Viral shorts with just <span class="accent" data-controller="typed"></span></h1>
    <h2>Generate Engaging Shorts Using Customizable Templates</h2>
  </div>
  <div class="go-to-new pt-5 text-center">
    <%=render 'button', text: 'Start Creating', path: sources_path %>
  </div>
  <div class="examples d-flex justify-content-center", style="padding-top: 100px;">
    <%=render 'examples_card', video_source: 'story-video-1.mp4'%>
    <%=render 'examples_card', video_source: 'story-video-2.mp4'%>
    <%=render 'examples_card', video_source: 'story-video-3.mp4'%>
    <%=render 'examples_card', video_source: 'story-video-4.mp4'%>
  </div>
</div>
