<div class="container mt-5 text-white" data-controller="reddit-form">
  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-wrap">
        <%= form_with url: batches_reddit_path, method: :get, html: { data: { action: "change->reddit-form#fetch_backend" }, id: 'reddit' } do |f| %>
          <div class=" category-item">
            <%= radio_button_tag(:query, 'stories', params[:query] == 'askreddit', class: "form-check-input check_boxes optional tag-selector", id: "stories", data: { action: "change->reddit-form#fetch_backend", reddit_form_target: "fsubmit" }) %>
            <%= label_tag(:stories, 'r/Stories', class: "form-check-label collection_check_boxes") %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6 d-flex">
      <%= form_for(@batch) do |f| %>
        <div data-reddit-form-target="stories">
          <div class="row d-flex">
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class='fake-reddit-card'></div>
            </div>
          </div>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
