<div class="container mt-3 mb-5" data-controller="overlay">
  <%= simple_form_for @batch do |f| %>
    <div class="row">
      <div class="col-6">
        <h2>Choose a background video:</h2>
        <div class="d-flex justify-content-evenly mt-3">
          <% @sources.each_with_index do |source, index| %>
            <div class="category-item ms-4">
              <input class="form-check-input radio_buttons required category-selector" type="radio" value="<%= source.id %>" name="output[source_id]" id="card-<%= index %>" data-action="change->reddit-form#fetch_backend">
              <label class="form-check-label collection_radio_buttons" data-action="click->overlay#videochange" for="card-<%= index %>"><%= render "pages/source_card", source: source.video.key %></label>
            </div>
          <% end %>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="label-text">
              Font Size: <output id="rangevalue">12</output>
              <%= f.input :font_size, label: false, as: :range, input_html: { value: 12, min: 1, max: 50, oninput: "rangevalue.value=value", class: "slider-input", data: {action: 'change->overlay#resizefont'} } %>
            </div>
            <%= f.input :font_family, collection: Output::FONTFAMILIES, include_blank: false, wrapper: false, input_html: { class: "mb-3 choice-input", data: {action: 'change->overlay#fontfamily'} }, label_html: { class: "label-text" } %>
          </div>
          <div class="col-6">
            <div class="d-flex mb-3">
              <% Output::VOICES.each do |voice| %>
                <div class="voice-item">
                  <input class="form-check-input radio_buttons required voice-selector" type="radio" value="<%= voice %>" name="output[voice]" id="<%= voice %>" data-action="change->reddit-form#fetch_backend">
                  <label class="form-check-label collection_radio_buttons" for="<%= voice %>">Voice <%= voice %></label>
                </div>
              <% end %>
            </div>
            <%= f.input :font_style, collection: Output::FONTSTYLES, include_blank: false, wrapper: false, input_html: { class: "mb-3 choice-input", data: {action: 'change->overlay#fontstyle'} }, label_html: { class: "label-text mt-2" } %>
          </div>
          <div class="d-flex justify-content-end">
            <input type="submit" name="commit" value=" Create Video" class="next-button" data-disable-with=" Create Video ">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="dropdown text-center mt-3">
          <button class="btn-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tiktok Feed Preview
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Youtube Feed Preview</a></li>
            <li><a class="dropdown-item" href="#">Tiktok Feed Preview</a></li>
            <li><a class="dropdown-item" href="#">Instagram Feed Preview</a></li>
          </ul>
        </div>
        <div class='d-flex flex-column justify-content-center align-items-center mt-4'>
          <div class="example-preview" style="height: 360px;">
            <%= render "pages/preview_card", video_source: "https://res.cloudinary.com/dcug1pvpk/video/upload/v1716529189/lazyreel-seeds/story-video-4.mp4"%>
            <div class="tiktok-icons">
              <div class="d-block">
                <%= image_tag 'shortify-tiktok.jpg', alt: "text" %>
              </div>
              <div class="d-block"><i class="fa-solid fa-heart"></i>
                <p>999</p>
              </div>
              <div class="d-block"><i class="fa-solid fa-comment-dots"></i>
                <p>56</p>
              </div>
              <div class="d-block"><i class="fa-solid fa-bookmark"></i>
                <p>159</p>
              </div>
              <div class="d-block"><i class="fa-solid fa-share"></i>
                <p>99</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
