<div class="d-flex mb-2">
  <div class="output_card">
    <% if output.url.present? && output.url.end_with?('.mp4') %>
      <%= video_tag output.url, height: 1080, width: 1920, controls: false, autoplay: false, muted: true, data: { action: "mouseover->video#play" } %>
    <% else %>
      <p>Video URL is missing.</p>
    <% end %>
    <div class="button_container d-flex justify-content-center border-0">
      <%= link_to '/', class: 'link yt' do %>
        <i class="fa-brands fa-youtube"></i>
      <% end %>
      <%= link_to '/', class: 'link insta' do %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
      <%= link_to '/', class: 'link tiktok' do %>
        <i class="fa-brands fa-tiktok"></i>
      <% end %>
      <% if output.url.present? && output.url.end_with?('.mp4') %>
        <%= link_to output.url, class: 'link download', download: output.url do %>
          <i class="fa-solid fa-download"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
